//
//  Copyright 2022 neko.rs contributors <https://neko.rs>
//
//  Licensed with GNU Affero General Public License v3.0 or later
//

@use "../utilities/colors";
@use "../utilities/gradients";
@use "../utilities/states";

// TODO: Remove some to reduce amount of classes
button,
.neko-btn,
[type="button"] {
  @include colors.accented() using ($accent) {
    background-color: colors.var("#{$accent}");
    color: colors.var("on-#{$accent}");
    @include states.disabled();
    &:hover {
      background-image: gradients.mono(colors.var(on-#{$accent}, .08));
    }
    &:focus, &:active { //TODO: possibly remove active
      background-image: gradients.mono(colors.var(on-#{$accent}, .12));
    }
  }
}