//
//  Copyright 2022 neko.rs contributors <https://neko.rs>
//
//  Licensed with GNU Affero General Public License v3.0 or later
//

@use "utilities/colors";
@use "utilities/themes";


@include colors.add("neutral", (
  0: #000000,
  10: #1F1F1F,
  20: #303030,
  30: #474747,
  40: #5E5E5E,
  50: #757575,
  60: #8F8F8F,
  70: #ABABAB,
  80: #C7C7C7,
  90: #E3E3E3,
  95: #F2F2F2,
  99: #FDFCFB,
  100: #FFFFFF
));

@include colors.add("neutral-variant", (
  0: #000000,
  10: #191D1C,
  20: #2D312F,
  30: #444746,
  40: #5C5F5E,
  50: #747775,
  60: #8E918F,
  70: #A9ACAA,
  80: #C4C7C5,
  90: #E1E3E1,
  95: #EFF2EF,
  99: #FAFDFB,
  100: #FFFFFF
));

@include themes.add((
  surface: themes.var(neutral-10),
  surface-variant: themes.var(neutral-variant-30),
  background: themes.var(neutral-10),
  on-background: themes.var(neutral-90),
  outline: themes.var(neutral-variant-60),
  shadow: themes.var(neutral-0),
  inverse-surface: themes.var(neutral-90),
  inverse-on-surface: themes.var(neutral-20),
));

@include themes.add((
  surface: themes.var(neutral-99),
  surface-variant: themes.var(neutral-variant-90),
  background: themes.var(neutral-99),
  on-background: themes.var(neutral-10),
  outline: themes.var(neutral-variant-50),
  shadow: themes.var(neutral-0),
  inverse-surface: themes.var(neutral-20),
  inverse-on-surface: themes.var(neutral-95),
), "light");

@include colors.add_accent("primary", (
  0: #000000,
  10: #041E49,
  20: #062E6F,
  30: #0842A0,
  40: #0B57D0,
  50: #1B6EF3,
  60: #4C8DF6,
  70: #7CACF8,
  80: #A8C7FA,
  90: #D3E3FD,
  95: #ECF3FE,
  99: #FAFBFF,
  100: #FFFFFF
));

@each $accent in colors.$accents {
  @include themes.add((
    #{$accent}: themes.var(#{$accent}-80),
    #{$accent}-container: themes.var(#{$accent}-90),
    on-#{$accent}: themes.var(#{$accent}-20),
    on-#{$accent}-container: themes.var(#{$accent}-90),
    inverse-#{$accent}: themes.var(#{$accent}-40)
  ));

  @include themes.add((
    #{$accent}: themes.var(#{$accent}-40),
    #{$accent}-container: themes.var(#{$accent}-30),
    on-#{$accent}: themes.var(#{$accent}-100),
    on-#{$accent}-container: themes.var(#{$accent}-10),
    inverse-#{$accent}: themes.var(#{$accent}-80)
  ), "light");
}

@include themes.build();